AgenticAI/n8n-local/workflow-05-slack-notification.json
{
  "name": "05 - Slack Notification (Webhook → Process → Post to Slack channel)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify-slack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000001",
      "name": "Receive Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "slack-notify-webhook",
      "notes": "POST body: { \"event_type\": \"deployment\", \"service\": \"api-gateway\", \"status\": \"success\", \"details\": \"v2.3.1 deployed\" }"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "event_type",
              "value": "={{ $json.body.event_type ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "service",
              "value": "={{ $json.body.service ?? 'unknown service' }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "status",
              "value": "={{ $json.body.status ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "details",
              "value": "={{ $json.body.details ?? '' }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000002",
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000003",
      "name": "Success or Failure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "slack_emoji",
              "value": "✅",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "slack_color",
              "value": "good",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "slack_message",
              "value": "=✅ *{{ $json.event_type.toUpperCase() }} SUCCESS*\n*Service:* {{ $json.service }}\n*Details:* {{ $json.details }}\n*Time:* {{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000004",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "slack_emoji",
              "value": "❌",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "slack_color",
              "value": "danger",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "slack_message",
              "value": "=❌ *{{ $json.event_type.toUpperCase() }} FAILED*\n*Service:* {{ $json.service }}\n*Details:* {{ $json.details }}\n*Time:* {{ $json.timestamp }}\n<!channel> Please investigate!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000005",
      "name": "Format Failure Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 420]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000006",
      "name": "Post Success to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1170, 200],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "notes": "⚠️ Set up Slack credentials: Credentials → New → Slack. Replace channel ID with your actual channel."
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000007",
      "name": "Post Failure to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1170, 420],
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"notified\", \"channel\": \"slack\", \"sent_at\": \"{{ $now.toISO() }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aa1e1f9e-0005-4005-0005-000000000008",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Receive Event": {
      "main": [
        [{ "node": "Extract Event Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Event Data": {
      "main": [
        [{ "node": "Success or Failure?", "type": "main", "index": 0 }]
      ]
    },
    "Success or Failure?": {
      "main": [
        [{ "node": "Format Success Message", "type": "main", "index": 0 }],
        [{ "node": "Format Failure Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          { "node": "Post Success to Slack", "type": "main", "index": 0 },
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Failure Message": {
      "main": [
        [
          { "node": "Post Failure to Slack", "type": "main", "index": 0 },
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["slack", "webhook", "notification", "devops"],
  "triggerCount": 0,
  "meta": {
    "description": "SLACK NOTIFICATION: Send deployment/event notifications to a Slack channel. Posts green ✅ for success, red ❌ for failures (with @channel mention). Requires Slack Bot Token credentials. Replace CHANNEL_ID with your actual Slack channel ID. Test with: curl -X POST http://localhost:5678/webhook-test/notify-slack -H 'Content-Type: application/json' -d '{\"event_type\": \"deployment\", \"service\": \"my-api\", \"status\": \"success\", \"details\": \"v1.0.0 deployed\"}'",
    "templateCredsSetupCompleted": false
  }
}
